#some
  %h1 Hello World

  %p Your app is up and running!
  - if @current_user
    %a{:href=>"/product/new"} New
  -@products.each do |product|
    #product
      %p
      = product.name  
      = product.price
      - if @current_user
        %a{:href=>"/product/#{product.id}/show"} Show
        %a{:href=>"/product/#{product.id}/edit"} Edit
        %a.add_cart{:href=>"/product/#{product.id}/addtocart"} Add to cart 
        %span#addCartStatus
